.todo-block {
    background-color: #edecee;
    padding-bottom: 20px;
}

.nav-tabs {
    font-size: 11px;
    font-weight: bold;
    background-color: white;
}

.plus-container {
    position: absolute;
    top: 0;
    right: 15px;
}